*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.tmp*
.bzr
.coverage
.hg
.idea/
.installed.cfg
.minitage*
.mr.developer.cfg
.svn
bin
build
develop-eggs
dist
downloads
eggs
fake-eggs
htmlcov
include
lib
lib64
minitage.*
parts
pip-selfcheck.json
plone.env
pyvenv.cfg
src.mrdeveloper/*
src/collective.plonefinder/
src/collective.quickupload/
src/collective/ckeditor/browser/ckeditor
sys
t
tags
tags.python
var
