minitage.*
*.mo
src.mrdeveloper/*
src/collective.plonefinder/
src/collective.quickupload/
tags
tags.python
plone.env
t
.minitage*
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
var
sys
src/collective/ckeditor/browser/ckeditor
lib
lib64
include
htmlcov
.coverage
pyvenv.cfg
.idea/