language: python
python: 2.7
#virtualenv:
#  system_site_packages: true
sudo: false
env:
#  - PLONE_VERSION=4.0 TARGET=test
#  - PLONE_VERSION=4.1 TARGET=test
  - PLONE_VERSION=4.2 TARGET=test
  - PLONE_VERSION=4.3 TARGET=test
#  - PLONE_VERSION=4.4 TARGET=test
# - TARGET=coverage.sh
# - TARGET=python-validation.sh
#  - TARGET=css-validation.sh
#  - TARGET=js-validation.sh

# csslint and jshint dependencies, uncomment if needed
# before_install:
#  - sudo apt-get install ack-grep
#  - sudo apt-add-repository ppa:chris-lea/node.js -y
#  - sudo apt-get update 1>/dev/null
#  - sudo apt-get install nodejs npm -y

# csslint
#  - npm install csslint -g

# jshint
#  - npm install jshint -g

before_install:
  - apt-get install -y libxml2-dev libxslt1-dev
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - sed -ie "s#travis-4.x.cfg#travis-$PLONE_VERSION.x.cfg#" travis.cfg
  - mkdir -p buildout-cache/eggs
  - mkdir -p buildout-cache/downloads
  - python bootstrap.py -c travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg install omelette
#  - for po in $(find -L parts/omelette -path '*/LC_MESSAGES/*.po');do msgfmt -o ${po/%po/mo} $po;done

script:
  - bin/test

after_success:
  - bin/createcoverage
  - pip install coveralls
  - coveralls
