[buildout]
develop = .
parts = releaser

eggs =
    collective.ckeditor

auto-checkout =
    collective.ckeditor
    collective.plonefinder
    collective.quickupload

[sources]

collective.ckeditor                 = svn https://svn.plone.org/svn/collective/collective.ckeditor/trunk
collective.plonefinder              = svn https://svn.plone.org/svn/collective/collective.plonefinder/trunk
collective.quickupload              = svn https://svn.plone.org/svn/collective/collective.quickupload/trunk

[releaser]
recipe = zc.recipe.egg:scripts
eggs = zest.releaser
       collective.ckeditor
