[versions]

# never ever pin paste and other eggs
setuptools =
zc.buildout =
six = 1.9.0
# necessary for running tests for Plone 4.1 and 4.2
collective.recipe.template = 1.11
plone.recipe.codeanalysis = 2.0
zest.releaser = 6.22.1
beautifulsoup4 = 4.9.3
