on: [push, pull_request]
name: Tests
jobs:
  all_tests_27:
    strategy:
      fail-fast: false
      matrix:
        config:
        - ["plone52-py27", "plone/test-with-tox:5.2-2.7"]
        - ["plone52-py38", "plone/test-with-tox:5.2-3.8"]
    runs-on: ubuntu-22.04
    container:
      image: ${{ matrix.config[1] }}
    name: ${{ matrix.config[0] }}
    steps:
    - uses: actions/checkout@v3
    - name: Test
      run: tox -e ${{ matrix.config[0] }}
  all_tests:
    strategy:
      fail-fast: false
      matrix:
        config:
        # [Python version, tox env]
        # - ["3.6",   "plone52-py36"]
        # - ["3.7",   "plone52-py37"]
        # - ["3.8",   "plone60-py38"]
        - ["3.9",   "plone60-py39"]
        - ["3.10",  "plone60-py310"]
        - ["3.11",  "plone60-py311"]
        - ["3.12",  "plone60-py312"]
        - ["3.13",  "plone60-py313"]
    name: ${{ matrix.config[1] }}
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.config[0] }}
    - name: Pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.config[0] }}-${{ hashFiles('setup.*', 'tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.config[0] }}-
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Prepare buildout egg cache
      run: |
        mkdir ~/.buildout
        echo "[buildout]" >> ~/.buildout/default.cfg
        echo "eggs-directory = ~/eggs" >> ~/.buildout/default.cfg
    - name: Cache eggs
      uses: actions/cache@v3
      with:
        path: ~/eggs
        key: ${{ runner.os }}-eggs-${{ matrix.config[0] }}-${{ matrix.config[1] }}-${{ hashFiles('*cfg') }}
        restore-keys: |
          ${{ runner.os }}-eggs-${{ matrix.config[0] }}-${{ matrix.config[1] }}-
          ${{ runner.os }}-eggs-${{ matrix.config[0] }}-
    - name: Install Firefox
      uses: browser-actions/setup-firefox@v1
      with:
        firefox-version: "119.0.1"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Install Geckodriver
      uses: browser-actions/setup-geckodriver@latest
      with:
        geckodriver-version: "0.33.0"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Test
      run: tox -e ${{ matrix.config[1] }}
